@import "tailwindcss";

@font-face {
    font-family: "Nasalization";
    font-style: normal;
    font-weight: 400;
    src: url("/fonts/nasalization.woff") format("woff");
}

@theme {
    --font-nasa: "Nasalization", sans-serif;
}
