---
import Layout from "../layouts/Layout.astro";---

<Layout title="taragay.space" description="Taragay">
    <div class="flex justify-center items-center w-screen h-screen text-3xl text-white font-nasa bg-black">
        sunucu tarafında bir hata oluştu. daha sonra tekrar deneyin
    </div>
</Layout>
