---
import Layout from "../layouts/Layout.astro";
---

<Layout title="taragay.space" description="Taragay">
    <section class="flex justify-center items-center bg-black min-h-screen text-white font-nasa px-6">
        <div class="max-w-4xl mx-auto">
            <h1 class="text-4xl font-bold text-center mb-12">
                Devam Eden Başvurular
            </h1>

            <div>
                <a
                        href="https://forms.gle/dYwdF6eTEquCkMsQ7"
                        target="_blank"
                        rel="noopener noreferrer"
                        class="px-4 py-2 rounded-sm bg-white/10 hover:bg-white/20 flex items-center justify-center"
                >
                    Dikey İnişli Roket Yarışması
                </a>
            </div>
        </div>
    </section>
</Layout>
