---
import Layout from "../layouts/Layout.astro";
---

<Layout title="taragay.space" description="Taragay">
    <div class="w-screen h-screen bg-black flex items-center justify-center">
        <h1 class="text-white text-4xl text-center">
            Taragay, teknoloji ve yazılım dünyasına ilgi duyan bir geliştiricidir. 
            Bu site, onun projelerini ve paylaşımlarını görmek için oluşturulmuştur.
        </h1>
    </div>
</Layout>
