---
import Layout from "../layouts/Layout.astro";
---

<Layout title="taragay.space" description="Taragay">
    <div style="width:100vw; height:100vh; background:black; display:flex; justify-content:center; align-items:center;">
        <h1 style="color:white; text-align:center; font-size:2rem;">
            Taragay, teknoloji ve yazılım dünyasına ilgi duyan bir geliştiricidir. Bu site, onun projelerini ve paylaşımlarını görmek için oluşturulmuştur.
        </h1>
    </div>
</Layout>
