---
import Layout from "../layouts/Layout.astro";

const images = [
  { src: "/galeri/roket1.jpg", alt: "Roket 1" },
  { src: "/galeri/roket2.jpg", alt: "Roket 2" },
  { src: "/galeri/roket3.jpg", alt: "Roket 3" },
  { src: "/galeri/roket4.png", alt: "Roket 4" },
  { src: "/galeri/roket5.jpg", alt: "Roket 5" },
  { src: "/galeri/roket6.jpg", alt: "Roket 6" },
  { src: "/galeri/roket7.jpg", alt: "Roket 7" },
  { src: "/galeri/roket8.png", alt: "Roket 8" },
];
---

<script>
    let lastScroll = 0;

    const scrolldown = document.getElementById("scrolldown")!;

    window.addEventListener("scroll", () => {
        const currentScroll = window.scrollY;

        if (currentScroll != lastScroll) {
            scrolldown.classList.add("hidden");
        } else scrolldown.classList.remove("hidden");

        lastScroll = currentScroll;
    });
</script>

<Layout title="Galeri" description="Galeri Sayfası">
    <div id="scrolldown" class="absolute bottom-0 left-0 z-10">
        <div class="text-white text-md font-nasa font-bold flex items-center p-6 py-4">
            aşağı kaydır
            <span class="inline-block animate-bounce pl-2.5 pt-2.5">↓</span>
        </div>
    </div>

    {images.map((image) => (
            <div class="relative select-none">
                <img
                        src={image.src}
                        alt={image.alt}
                        class="w-full h-full object-cover shadow-md"
                        data-src={image.src}
                />
            </div>
    ))}
</Layout>
