---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Hakkımızda" description="Taragay hakkında">
    <div style="width:100vw; height:100vh; background:black; display:flex; justify-content:center; align-items:center; text-align:center; padding:2rem;">
        <div>
            <h1 style="color:red; font-size:3rem; margin-bottom:1rem;">Hakkımızda</h1>
            <p style="color:red; font-size:1.2rem; line-height:1.6;">
                Taragay, teknoloji ve yazılım dünyasına ilgi duyan bir geliştirici topluluğudur. 
                Bu sitede projelerimizi, paylaşımlarımızı ve eğitim içeriklerimizi bulabilirsiniz.
            </p>
        </div>
    </div>
</Layout>
