---
import HeaderLink from './HeaderLink.astro';
import { SITE_TITLE } from '../consts';
---

<header class="bg-linear-to-r from-white to-black">
    <nav class="flex p-4 h-24 items-center justify-between">
        <div class="flex text-5xl shrink-0 items-center font-nasa mix-blend-difference text-white">
            TARAGAY
        </div>

        <div class="sm:ml-6 sm:block">
            <div class="flex space-x-4">
                <a href="/" class="px-3 py-2 text-md mix-blend-difference text-white">Ana Sayfa</a>
                <a href="/hakkimizda" class="px-3 py-2 text-md mix-blend-difference text-white">Hakkımızda</a>
                <a href="/ekibimiz" class="px-3 py-2 text-md mix-blend-difference text-white">Ekibimiz</a>
                <a href="/basvurular" class="px-3 py-2 text-md mix-blend-difference text-white">Başvurular</a>
                <a href="/galeri" class="px-3 py-2 text-md mix-blend-difference text-white">Galeri</a>
                <a href="/bize-ulasin" class="px-3 py-2 text-md mix-blend-difference text-white">Bize Ulaşın</a>
            </div>
        </div>
    </nav>
</header>
