---
---

<header class="bg-linear-to-r from-white to-black fixed z-50 w-full">
    <nav class="flex p-4 lg:h-24 xs:h-64 items-center justify-between">
        <div class="flex text-5xl pr-6 shrink items-center font-nasa mix-blend-difference text-white">
            TARAGAY
        </div>

        <div class="font-nasa">
            <div class="flex flex-wrap">
                <a href="/" class="px-3 py-2 text-md transition hover:text-gray-300 text-white">ANA SAYFA</a>
                <a href="/ekibimiz" class="px-3 py-2 text-md transition hover:text-gray-300 text-white">EKİBİMİZ</a>
                <a href="/basvurular" class="px-3 py-2 text-md transition hover:text-gray-300 text-white">BAŞVURULAR</a>
                <a href="/galeri" class="px-3 py-2 text-md transition hover:text-gray-300 text-white">GALERİ</a>
            </div>
        </div>
    </nav>
</header>
